{% extends 'imagersite/base.html' %}
{% load thumbnail %}
{% load static %}


{% block content2 %}
<!-- <h2>Library</h2>
<h3>Albums</h3>
    <div class="container-fluid">
        <div class='row'>
            {% for album in album_paginator.object_list %}
            {% if album.cover %}
            <div class='sm-3'>{% thumbnail album.cover.image "100x100" crop="center" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="words">
            {% endthumbnail %}
            <p>{{ album.title }}</p>
            <a href="{% url 'edit_album' pk=album.id %}"><button type="button" class="btn btn-primary">Edit Album</button></a>
            </div>
            {% else %}
            <div class="sm-3"><img src="{% static '100x100.png' %}">
            <p>{{ album.title }}</p>
            <a href="{% url 'edit_album' pk=album.id %}"><button type="button" class="btn btn-primary">Edit Album</button></a>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>

<h3>Photos</h3>
    <div class="container-fluid">
        <div class='row'>
            {% for photo in photo_paginator.object_list %}
            <div class='sm-3'>{% thumbnail photo.image "100x100" crop="center" as im %}
    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="words">
            {% endthumbnail %}
            <p>{{ photo.title }}</p>
            <a href="{% url 'edit_photo' pk=photo.id %}"><button type="button" class="btn btn-primary">Edit Photo</button></a>
            </div>
            {% endfor %}
        </div>
    </div>
<a href="{% url 'photo_form' %}"><button type="button" class="btn btn-primary">Add Photo</button></a>
<a href="{% url 'album_form' %}"><button type="button" class="btn btn-primary">Add Album</button></a> -->

<h3>Photos</h3>
    <div class="container-fluid">
        <div class='row'>
            {% for photo in display_photos.object_list %}
            <div class='sm-3'>{% thumbnail photo.image "100x100" crop="center" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="words">
            {% endthumbnail %}
            <p>{{ photo.title }}</p>
            <a href="{% url 'edit_photo' pk=photo.id %}"><button type="button" class="btn btn-primary">Edit Photo</button></a>
            </div>
            {% endfor %}
        </div>
    </div>

    {% if display_photos.has_previous %}
            <a href="?photo_page={{ display_photos.previous_page_number }}&album_page={{ display_album.number }}">previous</a>
    {% endif %}

    {% if display_photos.has_next %}
            <a href="?photo_page={{ display_photos.next_page_number }}&album_page={{ display_album.number }}">next</a>
    {% endif %}


<h3>Albums</h3>
    <div class="container-fluid">
        <div class='row'>
            {% for album in display_albums.object_list %}
            {% if album.cover %}
            <div class='sm-3'>{% thumbnail album.cover.image "100x100" crop="center" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="words">
            {% endthumbnail %}
            <p>{{ album.title }}</p>
            <a href="{% url 'edit_album' pk=album.id %}"><button type="button" class="btn btn-primary">Edit Album</button></a>
            </div>
            {% else %}
            <div class="sm-3"><img src="{% static '100x100.png' %}">
            <p>{{ album.title }}</p>
            <a href="{% url 'edit_album' pk=album.id %}"><button type="button" class="btn btn-primary">Edit Album</button></a>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>

    {% if display_albums.has_previous %}
            <a href="?album_page={{ display_albums.previous_page_number }}&photo_page={{ display_photo.number }}">previous</a>
    {% endif %}

    {% if display_albums.has_next %}
            <a href="?album_page={{ display_albums.next_page_number }}&photo_page={{ display_photo.number }}">next</a>
    {% endif %}

{% endblock %}