{% extends 'imagersite/base.html' %}
{% load thumbnail %}

{% block content2 %}
<ul>
{% for image in object_list %}
{# <div> <image src='{{ image.image.url }}'></div> #}
    <li><a href="   ./{{ image.id }}">{% thumbnail image.image "100x100" crop="center" as im %}
    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="words">
    {% endthumbnail %}</a></li>
{% endfor %}
</ul>

{% if is_paginated %}
    <ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}"><button type="button" class="btn btn-primary">Previous</button></a></li>
    {% endif %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}"><button type="button" class="btn btn-primary">Next</button></a></li>
    {% endif %}
  </ul>
{% endif %}

{% endblock %}